*.DS_Store
*.swp
*.h5
*.jpg
*.png
*.pkl
*.bmp
*.pyc
src/*.pkl
src/logs*
/**/src/outputDIPInceptionV3test/*
/**/src/dataset/*
/**/src/imageGroup/*
temp/*
dist/*
build/*
keras/datasets/data/*
keras/datasets/temp/*
docs/site/*
docs/sources/*
docs/theme/fonts/*
docs/theme/img/*
tags
Keras.egg-info
/**/images/*
/**/logs/*
/**/jsonfromAPI/*
/**/models/*
# test-related
.coverage
.cache
.pytest_cache
*.7z
# developer environments
.idea
.vscode

/LSLOGO
